<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID 19</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="../css/worldCases.css">
</head>
<body>
    <div class="container">
        <div id="map"></div>
    </div>
    <script src="../js/worldData.js"></script>
    <script src="../js/worldCases.js"></script>
    
</body>
</html>